.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container {
  padding: 1rem;
  position: relative;
  width: 100%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;

  .gallery-image {
    background-color: #169fe6;
    margin-bottom: 1rem;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }
}

@media(min-width: 768px) {
  .gallery-container {
    padding: 1rem;
    position: relative;
    width: 100%;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}