@import 'variables.scss';

.main-header {
  position: relative;
  color:$colour-dark;
  padding: 1rem;
  &.layout-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .site-name {
      padding: 1.3rem 1rem;
      a, a:visited {
        color: $colour-dark;
        text-decoration: none;
      }
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 0;
    }
  }
  .logo {
    width: 150px;
    height: auto;
  }
}

nav {
  color: $colour-dark;

  ul {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
    }
  }
  a {
    display: inline-block;
    padding: 0.75rem 1rem;
    color: $colour-dark;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.25s ease;

    &:hover {
      color: white;
      background-color: $colour-dark;
      background-image: url("../images/textures/grey-brick-texture.png");
      background-size: 120%;
    }
  }
}

@media(min-width: 768px) {
  .main-header.layout-one {
    flex-direction: row;

    nav {
      ul {
        margin-top: 0rem;

        a {
          padding: 1rem 1.4rem;
        }
      }
    }
  }
  .main-header {
    .logo-section {
      flex-direction: row;
      
    }
    .logo {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
@media(min-width: 1024px) {
  .main-header h2 {
    font-size: 2.5rem;
  }
}