.hero {
  position: relative;
}

.what-we-do-section {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }

  .flex-row {
    justify-content: center;
  }
  .section {
    width: 80vw;
    img {
      max-width: 100%;
    }
  }
  .section-heading {
    margin-top: -3rem;
  }
  .details {
    padding: 0 2rem;
  }
}

.skill-list {
  line-height: 1.5;
}

.hero-text {
  font-size: 1.2rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .what-we-do-section {
    margin-top: 2rem;
    .flex-row {
      justify-content: space-between;
      align-items: flex-start;
    }
    .section {
      max-width: 48%;
      display: flex;
      flex-direction: column;
    }
  }

  .hero-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    padding: 15% 2rem;
    margin: 0;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .skill-list {
    line-height: 2;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 2rem;
  }

  .skill-list {
    width: 80%;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}