.what-we-do-section {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }

  .flex-row {
    justify-content: center;
  }
  .section {
    width: 80vw;
    img {
      max-width: 100%;
    }
  }
  .section-heading {
    margin-top: -3rem;
  }
  .details {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .what-we-do-section {
    margin-top: 2rem;
    .flex-row {
      justify-content: space-between;
      align-items: flex-start;
    }
    .section {
      max-width: 48%;
      display: flex;
      flex-direction: column;
    }
  }
}