@import 'variables.scss';

html {
  font-family: 'Open Sans', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

hr {border-color: white;}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0 1rem;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
}

@import "utility.scss";