@import 'variables.scss';

.background-brick {
  position: relative;
  z-index: 1;
  color: white;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/textures/grey-brick-texture.png");
    background-size: 75%;
    background-color: $colour-dark;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  &-large:after {
    background-image: url("../images/textures/grey-brick-texture-large.png");
    background-size: 25%;
  }
  &-light {
    color: $colour-dark;
    &:after {
      background-color: white;
    }
  }
}
h2.background-brick {
  display: block;
  padding: 1rem;
  margin: 2rem 0;

  // &:after {
  //   transform: rotate(-2deg);
  // }
}

@media(min-width: 768px) {
  h2.background-brick {
    display: inline-block;
    align-self: center;
    padding: 1rem 5rem;
    margin: 2rem 1rem;
  }
}

.text-center {
  text-align: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}